{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}



    <h1>Formulario V3! ✅</h1>

   {# {{ form(form) }} #}
   {# <form action="url">
        <input type="text">
        <button>Enviar</button>
   </form> #}

    {{ form_start(form, {
        'method': 'POSt',
        'attr': {'novalidate': 'novalidate'}
    }) }}
    
    {{ form_widget(form) }}

    {# 
    {{ form_errors(form) }}

    {{ form_row(form.message, {
        'label': 'Comentario o sugerencia',
        'attr': {'maxlenght': 10}
    }) }} 

    {{ form_row(form.email) }} #}

    {{ form_end(form) }}


{% endblock %}
